body {
  letter-spacing: 2px;
}

div.item {
  letter-spacing: 0px;
}

code {
  display: block; /* fixes a strange ie margin bug */
  background: #fff;
  /* background: #fff url(http://dl.dropbox.com/u/15124307/CSS/Code_BG.png) left top repeat-y; */
  border: 1px dashed #333;
  padding: 5px 20px 7px 20px;
  margin: 5px 0 0 5px;
  font-size: 14px;
  font-family: 'Courier';
  letter-spacing: 0px;
  line-height: 18px;
}

code.mono {
  border: 1px dashed #333;
}

code.murasaki {
  border: 1px dashed #AAAAEE;
}

code.out {
  border: 1px dashed #333;
  background-color: #000;
}